.result{
    display: none;
}

.water-sport-image{
    background-image: url('https://www.maxpixel.net/static/photo/1x/Background-Blue-Wallpaper-Summer-Water-Sun-Pool-3555009.jpg');
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.quiz-title{
    background-color: white;
}

.form-quiz{
        margin: 30px 0px 30px 0px;
}